@use "components" as comps;
@use "sass:color";

@mixin section-size {
    max-width: 992px;
    margin: auto;
    padding: 4rem;
}

@mixin section-intro {
    .intro {
        width: 100%;
        text-align: center;
        height: fit-content;
        margin-bottom: 2rem;

        .intro-title {
            font-size: 2.2rem;
        }

        .intro-desc {
            font-size: 1.2rem;
            color: #888;
        }
    }
}

// Barra de navegacion
.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4em;
    border-bottom: 1px solid #888;

    .logo img {
        max-width: 6rem;
    }
}

// Seccion Home
.sec-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include section-size();

    .home-cta {
        width: 60%;

        .text-cta {
            font-size: 1.2rem;
            a {
                color: comps.$main-color;
                text-decoration: none;

                &:hover {
                    color: lighten(comps.$main-color, 10%);
                }
            }
        }

        .title-cta {
            font-size: 4rem;
        }
    }
}

// Seccion Features
.sec-features {
    @include section-size();

    .intro {
        width: 100%;
        text-align: center;
        height: fit-content;
        margin-bottom: 2rem;

        .intro-title {
            font-size: 2.2rem;
        }

        .intro-desc {
            font-size: 1.2rem;
            color: #888;
        }
    }

    .features-cont {
        width: 100%;
        display: flex;
        align-items: center;

        .features {
            width: 40%;

            .feature-blq {
                display: flex;
                align-items:flex-start;
                gap: 1em;

                .feature.title {
                    font-size: 1.8rem;
                    font-weight: 700;
                }

                .feature.desc {
                    font-size: .8rem;
                }
            }
        }

        .imgn {
            width: 60%;

            img {
                max-width: 100%;
            }
        }
    }
}

// Seccion Benefits
.sec-benefits {
    width: 100%;
    @include section-intro();
    padding: 4rem;
    border-top: 1px solid #888;

    .benefits-cards {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

// Seccion KPIs
.sec-kpis {
    width: 100%;
    background-color: comps.$main-color;
    height: 10rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .kpi {
        @include comps.flex-col-center;

        .kpi-number {
            font-size: 4rem;
            font-weight: 600;
        }

        .kpi-desc {
            font-size: .9rem;
            color: #ffffff90;
            font-weight: 500;
        }
    }
}

// Seccion Steps
.sec-steps {
    @include section-intro();
    width: 100%;
    padding: 4rem 10rem;
    @include comps.flex-col-center;

    .steps-cards {
        display: flex;
        align-items: center;
        gap: 2em;
        flex-wrap: wrap;

        .step-separator {
            border-top: 1px solid #888;
            width: 3rem;
        }
    }
}

// Seccion Footer
.sec-footer {
    width: 100%;
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-color: #f5f8ff;
    
    .footer-cta {
        width: 50%;
        padding: 4rem;
    }
}