@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');

/* Colores */
.colores {
    color: blueviolet;
}

.color-hexadecimal {
    color: #6b6b6b;
}

.color-rgb {
    color: rgb(100, 50, 150);
}

.color-rgba {
    color: rgba(200, 150, 10, .4);
}

/* Fondos */

.fondo {
    background-color: chartreuse;
}

.fondo-img {
    background-image: url("https://th.bing.com/th/id/R.480b22b54361dfb4534059490e710eef?rik=D2R0ncMCWUgB7w&pid=ImgRaw&r=0");
    background-position: center center;
}

.ancho {
    background-color: aqua;
    width: 100px;
}

.alto {
    background-color: cadetblue;
    height: 300px;
}

.tarjeta {
    background-color: rgba(100, 194, 218, 0.418);
    border-style: dashed;
    border-color: #9d9d9d;
    border-width: 10px;
    /*padding: 10px 20px 30px 40px;*/
    padding: 20px;
    /*margin: 10px 20px 30px 40px;*/
    margin: 20px;
}

/* Fuentes */

#fuetes {
    font-size: large;
    font-family: 'Island Moments', cursive;
}