.div-1, .div-2 {
    background-color: red;
    /* Los div por defecto tienen display: block; */
}

.span-1 {
    background-color: aqua;
}
/* Los span por defecto tienen display: inline; */
.span-2 {
    background-color: aqua;
    float: left;
}

.img {
    height: 50px;
    /* Las imagenes por defecto tienen display: inline-block; */
}