* {
  padding: 0;
  margin: 0;
}

.btn-main, .btn-main-s {
  background-color: #0075ff;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 0.6em;
  border: none;
  border: 1px solid #0075ff;
  color: white;
}
.btn-main:hover, .btn-main-s:hover {
  background-color: white;
  color: #0075ff;
}
.btn-main-s {
  font-size: 0.8rem;
}

.btn-sec, .btn-sec-s {
  background: none;
  border: none;
  font-size: 1rem;
  padding: 0.5em;
  font-weight: 600;
}
.btn-sec:hover, .btn-sec-s:hover {
  color: #0075ff;
}
.btn-sec-s {
  font-size: 0.8rem;
}

.main-menu {
  display: flex;
  gap: 1.5rem;
  margin: 0;
}
.main-menu li {
  list-style: none;
  font-weight: 500;
}
.main-menu li a {
  text-decoration: none;
  color: black;
}
.main-menu li a:hover {
  text-decoration: underline;
}

.icon-sm {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  font-size: 1.2rem;
  padding: 0.5em 0.6em;
  border-radius: 100%;
}
.icon-sm i {
  color: #0075ff;
}

.feature {
  font-size: 1rem;
  width: 18rem;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature i {
  font-size: 6rem;
  color: #0075ff;
}
.feature .desc-feature {
  text-align: center;
  margin-bottom: 3em;
}
.feature .desc-feature .title {
  font-size: 1.5em;
  font-weight: 600;
}
.feature .desc-feature .desc {
  color: #888;
}
.feature .cta {
  color: #0075ff;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
}
.feature .cta:hover {
  color: #3391ff;
}

.icon-desc {
  font-size: 1rem;
  padding: 0.5em;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.icon-desc i {
  font-size: 6rem;
  color: #0075ff;
}
.icon-desc .title {
  font-weight: 600;
  font-size: 1.2em;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 4em;
  border-bottom: 1px solid #888;
}
.nav .logo img {
  max-width: 6rem;
}

.sec-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 992px;
  margin: auto;
  padding: 4rem;
}
.sec-home .home-cta {
  width: 60%;
}
.sec-home .home-cta .text-cta {
  font-size: 1.2rem;
}
.sec-home .home-cta .text-cta a {
  color: #0075ff;
  text-decoration: none;
}
.sec-home .home-cta .text-cta a:hover {
  color: #3391ff;
}
.sec-home .home-cta .title-cta {
  font-size: 4rem;
}

.sec-features {
  max-width: 992px;
  margin: auto;
  padding: 4rem;
}
.sec-features .intro {
  width: 100%;
  text-align: center;
  height: fit-content;
  margin-bottom: 2rem;
}
.sec-features .intro .intro-title {
  font-size: 2.2rem;
}
.sec-features .intro .intro-desc {
  font-size: 1.2rem;
  color: #888;
}
.sec-features .features-cont {
  width: 100%;
  display: flex;
  align-items: center;
}
.sec-features .features-cont .features {
  width: 40%;
}
.sec-features .features-cont .features .feature-blq {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}
.sec-features .features-cont .features .feature-blq .feature.title {
  font-size: 1.8rem;
  font-weight: 700;
}
.sec-features .features-cont .features .feature-blq .feature.desc {
  font-size: 0.8rem;
}
.sec-features .features-cont .imgn {
  width: 60%;
}
.sec-features .features-cont .imgn img {
  max-width: 100%;
}

.sec-benefits {
  width: 100%;
  padding: 4rem;
  border-top: 1px solid #888;
}
.sec-benefits .intro {
  width: 100%;
  text-align: center;
  height: fit-content;
  margin-bottom: 2rem;
}
.sec-benefits .intro .intro-title {
  font-size: 2.2rem;
}
.sec-benefits .intro .intro-desc {
  font-size: 1.2rem;
  color: #888;
}
.sec-benefits .benefits-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sec-kpis {
  width: 100%;
  background-color: #0075ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 3rem;
}
.sec-kpis .kpi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-kpis .kpi .kpi-number {
  font-size: 4rem;
  font-weight: 600;
}
.sec-kpis .kpi .kpi-desc {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5647058824);
  font-weight: 500;
}

.sec-steps {
  max-width: 992px;
  margin: auto;
  padding: 4rem;
}
.sec-steps .intro {
  width: 100%;
  text-align: center;
  height: fit-content;
  margin-bottom: 2rem;
}
.sec-steps .intro .intro-title {
  font-size: 2.2rem;
}
.sec-steps .intro .intro-desc {
  font-size: 1.2rem;
  color: #888;
}
.sec-steps .steps-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  flex-wrap: no-wrap;
}
.sec-steps .steps-cards .step-separator {
  border-top: 1px solid #888;
  width: 3rem;
}

.sec-footer {
  width: 100%;
  background-image: url(../assets/img/bg.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-color: #f5f8ff;
}
.sec-footer .footer-cta {
  width: 50%;
  padding: 4rem;
}

@media (max-width: 768px) {
  .sec-home {
    display: block;
  }
  .sec-home .home-cta {
    width: 100%;
  }
  .sec-home .home-cta .title-cta {
    font-size: 3rem;
  }
  .sec-features .features-cont .features {
    width: 100%;
  }
  .sec-kpis {
    flex-direction: column;
    gap: 3rem;
  }
  .sec-steps .steps-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec-footer {
    background-image: none;
  }
  .sec-footer .footer-cta {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
