<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director</title>
</head>
<body>
    {% for titulo in titulos %}
    <div class="tarjeta_pelicula">
        <img src="" alt="PosterPelicula" class="poster_pelicula">
        <h3 class="titulo">{{ titulo.titulo }}</h3>
        <p class="descr">{{ titulo.descripcion }}</p>
    </div>
    {% endfor %}
</body>
</html>