.tarjeta_pelicula {
    width: 18em;
    background-color: blue;
    border-radius: 2em;
    padding: 2em;
    color: white;
    text-align: center;

    .poster_pelicula {
        width: 100%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        margin-bottom: 2em;
    }

    .titulo {
        font-size: 2em;
        margin-bottom: 1em;
    }

    .descr {
        font-size: 1.2em;
    }
}